@font-face{
    font-family: Ngaan;
    src: url("./font/I.Ngaan.ttf");
}

*{
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
    box-sizing: border-box;
}

nav{
    display: grid;
    grid-template-columns: 45% 55% ;
    padding: 30px;
    position: fixed;
    top: 0;
    width: 100%;
}

#brand{
    font-size: 35px;
    font-family: Ngaan;
    text-align: center;
    color: white;
}

#link{
    display: grid;
    grid-template-columns: 75% 25%;
    text-align: center;
    align-items: center;
}

#link a{
    color: white;
    text-decoration: none;
}

#linkForLiteral{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

#linkForImage{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

#facebook{
    width: 28px;
    height: 29px;
}

#instagram{
    width: 30px;
    height: 30px;
}

#banner{
    background-image: url(./img/banner/橫幅.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: grid;
    color: white;
    align-items: center;
    text-align: center;
    font-family: Ngaan;
    font-size: 40px;
}

section{
    width: 1200px;
    margin: 0 auto;
}

#news h1{
    text-align: center;
}

#news>div{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

#news img{
    width: 320px;
    height: 320px;
}