@font-face{
    font-family: Ngaan;
    src: url("./font/I.Ngaan.ttf");
}

*{
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
    box-sizing: border-box;
}

body{
    background-color:#E8E8E8;
}

nav{
    display: grid;
    grid-template-columns: 45% 55% ;
    padding: 30px;
    position: absolute;
    top: 0;
    width: 100%;
}

#brand{
    font-size: 35px;
    font-family: Ngaan;
    text-align: center;
    color: white;
}

#link{
    display: grid;
    grid-template-columns: 75% 25%;
    text-align: center;
    align-items: center;
}

#link a{
    color: white;
    text-decoration: none;
}

#linkForLiteral{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

#linkForImage{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

#facebook{
    width: 28px;
    height: 29px;
}

#instagram{
    width: 30px;
    height: 30px;
}

#banner{
    background-image: url(./img/banner/橫幅.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: grid;
    color: white;
    align-items: center;
    text-align: center;
    font-family: Ngaan;
    font-size: 40px;
}

section{
    width: 1200px;
    margin: 40px auto;
}

.title{
    letter-spacing: 9.6px;
    font-weight: 200;
}

#news h1{
    text-align: center;
}

#news>div{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    margin: 50px auto;
}

.card{
    padding: 25px;
    background-color: white;
    box-sizing: border-box;
}

#news h3{
    width: 320px;
    letter-spacing: 7.9px;
    padding-left: 7.9px;
    margin:0 auto;
}

#news hr{
    width: 320px;
    margin: 0 auto;
    text-decoration: none;
    border: 1px solid black;
}

.preferential_Information{
    color: aqua;
    font-size: 13px;
    margin: 20px 0;
}

.article{
    margin: 15px auto;
    width: 320px;
    text-align: left;
    line-height: 2;
    letter-spacing: 2.5px;
}

#news img{
    width: 320px;
    height: 320px;
}

#recommendation{
    text-align: center;
}

#recommendation img{
    margin: 50px auto;
}
